.carousel-item > img {
  height: 400px;
  filter: brightness(70%);
}
.carousel-item {
  justify-content: center;
  align-items: center;
}
.sliderBtn {
  border-radius: 20px;
  margin: 5px;
  font-size: bold;
  margin-bottom: 10px;
}
.frameStyle {
  color: red;
  text-transform: uppercase;
}
.carousel-item {
  opacity: 0.5;
  transform: scale(0.9); 
  transition: opacity 2s ease-in-out, transform 2s ease-in-out; 
}

.carousel-item.active {
  opacity: 1;
  transform: scale(1); }
