.footer {
  background: #0a3943;
  color: white;
}
.inputEmail {
  border-radius: 20px;
}
div > h6 {
  text-transform: uppercase;
  font-weight: bold;
}
.BGOrange {
  background-color: rgb(255, 72, 0) !important;
}
.ColorOrange {
  color: rgb(255, 72, 0) !important;
}
